// This file applies your variables to the Bulma framework. You don't need to change this.

@use 'theme' as *;

@use 'bulma/sass' with (
  $primary: $primary-color,
  $link: $link-color,
  $info: $info-color,
  $success: $success-color,
  $warning: $warning-color,
  $danger: $danger-color,
  $background: $background-color,
  // $light: $light-color,
  // $dark: $dark-color,

  $text: $text-color,
  $family-primary: $primary-font,
  $title-family: $title-font,
);

html, body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  background-color: $background-color;
  color: $text-color;
}

h1, h2, h3 {
  font-family: $title-font;
}