// Colour variables - change these to affect classes like "is-primary"
$primary-color: #B0DCF5;
$link-color: #19297C;
$info-color: #79A9D1;
$success-color: #66c183;
$warning-color: #fecf26;
$danger-color: #FF220C ;
$background-color: #B0DCF5;
// $light-color: $light;
// $dark-color: $dark;
$text-color: #000000;

// Font variables - change these to affect the text

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
$primary-font: '"Inter", sans-serif';
$title-font: '"Fredoka", cursive';